@import '_importable'

// components
button
	height 35px
	border 1px solid transparent
	line-height 32px
	text-align center
	color white
	font-size 16px
	border-radius 5px
	cursor pointer
	&:focus
	&:active
		outline none
	

input
textarea
	border 1px solid $input-color
	font-size 16px
	&::-webkit-input-placeholder
		color $input-color
	&::-moz-placeholder
		color $input-color
		
input
	border-radius 5px

main
	width 100%
	height 100%
	overflow auto
	display flex
	flex-flow row wrap
	justify-content space-between
	align-items flex-start
	padding 30px
	
	&::-webkit-scrollbar
		background-color $scrollbar-track
		width 10px
	
	&::-webkit-scrollbar-thumb
		background-color $scrollbar-thumb
		
	@media screen and (max-width: 1023px)
		flex-flow column nowrap

.box
	box-shadow()
	&__title
		font-size 36px