<div class="box">
	<span class="box__title"  ng-if="$ctrl.selectedPost">Comments #{{ $ctrl.selectedPost }}</span>
	<span class="box__title"  ng-if="!$ctrl.selectedPost">No post selected.</span>
	
	<div ng-if="$ctrl.selectedPost" class="comments">
		<div 
			class="comments__comment"
			ng-repeat="comment in $ctrl.comments track by $index"
		>
			<div 
				class="comments__avatar"
				ng-class="{
					'red': comment.author == 'mr. red',
					'blue': comment.author == 'mr. blue',
					'green': comment.author == 'mr. green' 
				}"
			></div>
			<div class="comments__comment__text">{{ comment.text }}</div>
		</div>

	</div>

	<div 
		class="comments__new"
		ng-if="$ctrl.selectedPost"
	>
		<div 
			class="comments__avatar red"
			ng-class="{
				'red': $ctrl.author == 'mr. red',
				'blue': $ctrl.author == 'mr. blue',
				'green': $ctrl.author == 'mr. green' 
			}"
		>
			<div class="comments__avatars">
				<div 
					class="comments__avatar red"
					ng-click="$ctrl.pickAuthor('mr. red')"
				></div>
				<div 
					class="comments__avatar blue"
					ng-click="$ctrl.pickAuthor('mr. blue')"
				></div>
				<div 
					class="comments__avatar green"
					ng-click="$ctrl.pickAuthor('mr. green')"
				></div>
				<div 
					class="comments__avatar"
					ng-class="{
						'red': $ctrl.author == 'mr. red',
						'blue': $ctrl.author == 'mr. blue',
						'green': $ctrl.author == 'mr. green' 
					}"
				></div>
			</div>

		</div>
		<textarea 
			class="comments__new__text"
			ng-model="$ctrl.comment"
			ng-change="$ctrl.onChange()"
			ng-keypress="$ctrl.submitComment($event)"
			ng-focus="$ctrl.focus = true"
			ng-blur="$ctrl.focus = false"
		></textarea>
		
	</div>
</div>